/* ==============================
    AVATAR CONTAINER
============================== */
.av-display {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 1rem;
  border: 5px solid black;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  background: #ebebeb;
  -webkit-transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* ==============================
    CUSTOMIZE AVATAR BUTTON
============================== */
#customizer {
  position: absolute;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  pointer-events: all;
  overflow: hidden;
  z-index: 100;
  -webkit-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}

#customizer .icon {
  position: absolute;
  width: 75%;
  height: 75%;
  -webkit-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Hover & Active states */
#customizer:hover {
  opacity: 100%;
}

#customizer:hover~.av-display {
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}

#customizer:active {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: none;
}

#customizer:active~.av-display {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* ==============================
    CUSTOMIZE MENU
============================== */
#customizer.active+#closet {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#closet {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: transform 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: transform 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Item display containers */
.islot {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Labels above items */
.islot p {
  position: absolute;
  width: 150px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  opacity: 75%;
  -webkit-transform: translateY(-3rem);
  -ms-transform: translateY(-3rem);
  transform: translateY(-3rem);
}

/* Position specific item displays */
.islot#color {
  -webkit-transform: translate(-12rem, 0);
  -ms-transform: translate(-12rem, 0);
  transform: translate(-12rem, 0);
}

.islot#face {
  -webkit-transform: translate(12rem, 0);
  -ms-transform: translate(12rem, 0);
  transform: translate(12rem, 0);
}

.islot#hair {
  -webkit-transform: translate(-7rem, 0);
  -ms-transform: translate(-7rem, 0);
  transform: translate(-7rem, 0);
}

.islot#acc {
  -webkit-transform: translate(7rem, 0);
  -ms-transform: translate(7rem, 0);
  transform: translate(7rem, 0);
}

/* Item containers */
.islot .idisplay {
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 0.75rem;
  border: 3.5px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  background: #ebebeb;
  -webkit-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Hover & active states for items */
.islot .idisplay:hover {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.islot .idisplay:active {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: none;
}

.islot .idisplay .icon {
  position: absolute;
  width: 105%;
  height: 105%;
  background-color: #000000aa;
  opacity: 0%;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}

.islot .idisplay:hover .icon {
  opacity: 80%;
}

/* ==============================
    RANDOM AVATAR BUTTON
============================== */
#randomizer {
  position: absolute;
  width: 35px;
  height: 35px;
  -webkit-transform: translate(3rem, 3rem);
  -ms-transform: translate(3rem, 3rem);
  transform: translate(3rem, 3rem);
  border-radius: 50%;
  border: 3.5px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: white;
  overflow: hidden;
  z-index: 100;
  -webkit-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}

#randomizer .icon {
  width: 50%;
  height: 50%;
  opacity: 75%;
}

/* Hover & Active states */
#randomizer:hover {
  background: #a4a4a4;
}

#randomizer:active {
  -webkit-transform: translate(3rem, 3rem) scale(0.9) rotate(360deg);
  -ms-transform: translate(3rem, 3rem) scale(0.9) rotate(360deg);
  transform: translate(3rem, 3rem) scale(0.9) rotate(360deg);
  transition: none;
}

#randomizer:active~.av-display {
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}