/* ==============================
    INPUTS & BUTTONS
============================== */
.main-actions {
  position: absolute;
  width: 250px;
  -webkit-transform: translateY(9.5rem);
  -ms-transform: translateY(9.5rem);
  transform: translateY(9.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Text inputs */
.main-actions input[type="text"] {
  width: 200px;
  padding: 0.25rem 0.5rem;
  font-size: 1.15rem;
  text-align: center;
  border: 3px solid #b1b1b1;
  border-radius: 15px;
  box-sizing: border-box;
  margin-bottom: 1.2rem;
  -webkit-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Buttons inside input container */
.main-actions button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;
  border-radius: 6px;
  border: 3px solid black;
  background: var(--btn-color);
  color: white;
  -webkit-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}

.main-actions button:hover {
  -webkit-filter: brightness(75%);
  filter: brightness(75%);
}

.main-actions button:active {
  -webkit-transform: scale(0.925);
  -ms-transform: scale(0.925);
  transform: scale(0.925);
  transition: none;
}

/* ==============================
    JOIN CONTAINER
============================== */
.main-actions .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 0.25rem;
}

#inviteCode {
  width: 58.5%;
  margin-bottom: 0;
  border-radius: 6px;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.main-actions .bottom button {
  width: 40%;
}