/* ==============================
    DEFAULTS CORDINATES
============================== */
.player {
  height: 90%;
}

.face {
  position: absolute;
  width: 45%;
  -webkit-transform: translateY(-85%);
  -ms-transform: translateY(-85%);
  transform: translateY(-85%);
  -webkit-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 75%;
}

.shirt {
  position: absolute;
  width: 90%;
  -webkit-transform: translateY(57.5%);
  -ms-transform: translateY(57.5%);
  transform: translateY(57.5%);
  -webkit-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}

.acc,
.hair {
  position: absolute;
  -webkit-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}

/* ==============================
    ACCESSORIES CORDINATES
============================== */
.acc[src="/static/Images/Avatar/Accessories/1.svg"] {
  display: none;
}

.acc[src="/static/Images/Avatar/Accessories/2.svg"] {
  width: 35%;
  -webkit-transform: translate(25%, -180%);
  -ms-transform: translate(25%, -180%);
  transform: translate(25%, -180%);
}

.acc[src="/static/Images/Avatar/Accessories/3.svg"] {
  width: 45%;
  -webkit-transform: translate(20%, -170%);
  -ms-transform: translate(20%, -170%);
  transform: translate(20%, -170%);
}

.acc[src="/static/Images/Avatar/Accessories/4.svg"] {
  width: 35%;
  -webkit-transform: translate(0%, -195%);
  -ms-transform: translate(0%, -195%);
  transform: translate(0%, -195%);
}

.acc[src="/static/Images/Avatar/Accessories/5.svg"] {
  width: 30%;
  -webkit-transform: translate(15%, -270%);
  -ms-transform: translate(15%, -270%);
  transform: translate(15%, -270%);
}

.acc[src="/static/Images/Avatar/Accessories/6.svg"] {
  width: 50%;
  -webkit-transform: translate(0%, -200%);
  -ms-transform: translate(0%, -200%);
  transform: translate(0%, -200%);
}

.acc[src="/static/Images/Avatar/Accessories/7.svg"] {
  width: 50%;
  -webkit-transform: translate(0%, -255%);
  -ms-transform: translate(0%, -255%);
  transform: translate(0%, -255%);
}

.acc[src="/static/Images/Avatar/Accessories/8.svg"] {
  width: 40%;
  -webkit-transform: translate(0%, -350%);
  -ms-transform: translate(0%, -350%);
  transform: translate(0%, -350%);
}

/* ==============================
    HAIRS CORDINATES
============================== */
.hair[src="/static/Images/Avatar/Hairs/1.svg"] {
  width: 75%;
  -webkit-transform: translate(0%, -30%);
  -ms-transform: translate(0%, -30%);
  transform: translate(0%, -30%);
}

.hair[src="/static/Images/Avatar/Hairs/2.svg"] {
  width: 70%;
  -webkit-transform: translate(0%, -70%);
  -ms-transform: translate(0%, -70%);
  transform: translate(0%, -70%);
}

.hair[src="/static/Images/Avatar/Hairs/3.svg"] {
  width: 55%;
  -webkit-transform: translate(0%, -5%);
  -ms-transform: translate(0%, -5%);
  transform: translate(0%, -5%);
}

.hair[src="/static/Images/Avatar/Hairs/4.svg"] {
  width: 55%;
  -webkit-transform: translate(0%, -70%);
  -ms-transform: translate(0%, -70%);
  transform: translate(0%, -70%);
}

.hair[src="/static/Images/Avatar/Hairs/5.svg"] {
  width: 85%;
  -webkit-transform: translate(0%, 1%);
  -ms-transform: translate(0%, 1%);
  transform: translate(0%, 1%);
}

.hair[src="/static/Images/Avatar/Hairs/6.svg"] {
  width: 60%;
  -webkit-transform: translate(0%, -125%);
  -ms-transform: translate(0%, -125%);
  transform: translate(0%, -125%);
}

.hair[src="/static/Images/Avatar/Hairs/7.svg"] {
  width: 60%;
  -webkit-transform: translate(0%, -110%);
  -ms-transform: translate(0%, -110%);
  transform: translate(0%, -110%);
}

.hair[src="/static/Images/Avatar/Hairs/8.svg"] {
  width: 60%;
  -webkit-transform: translate(0%, -45%);
  -ms-transform: translate(0%, -45%);
  transform: translate(0%, -45%);
}

.hair[src="/static/Images/Avatar/Hairs/9.svg"] {
  width: 57.5%;
  -webkit-transform: translate(0%, -120%);
  -ms-transform: translate(0%, -120%);
  transform: translate(0%, -120%);
}

.hair[src="/static/Images/Avatar/Hairs/10.svg"] {
  width: 55%;
  -webkit-transform: translate(0%, -145%);
  -ms-transform: translate(0%, -145%);
  transform: translate(0%, -145%);
}

.hair[src="/static/Images/Avatar/Hairs/11.svg"] {
  width: 70%;
  -webkit-transform: translate(0%, -10%);
  -ms-transform: translate(0%, -10%);
  transform: translate(0%, -10%);
}

/* ==============================
    DISPLAYS CORDINATES
============================== */
.islot#color {
  -webkit-transform: translate(-12rem, 0rem);
  -ms-transform: translate(-12rem, 0rem);
  transform: translate(-12rem, 0rem);
}

.islot#face {
  -webkit-transform: translate(12rem, 0rem);
  -ms-transform: translate(12rem, 0rem);
  transform: translate(12rem, 0rem);
}

.islot#hair {
  -webkit-transform: translate(-7rem, 0rem);
  -ms-transform: translate(-7rem, 0rem);
  transform: translate(-7rem, 0rem);
}

.islot#acc {
  -webkit-transform: translate(7rem, 0rem);
  -ms-transform: translate(7rem, 0rem);
  transform: translate(7rem, 0rem);
}