@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap");

/* ==============================
   BASE & RESET
============================== */
* {
  user-select: none;
  -webkit-user-drag: none;
}

html,
body {
  overflow: hidden;
}

body,
input,
button,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-family: "Mitr", sans-serif;
  box-sizing: border-box;
}

.mitr-font {
  font-weight: 400;
  letter-spacing: 1px;
}

.mitr-font input::placeholder {
  color: #b1b1b1;
  letter-spacing: 1px;
}

/* ==============================
   LAYOUT
============================== */
body,
.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.page {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: scale(100%);
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.page.disabled {
  pointer-events: none;
  transform: scale(0%);
}
.page.disabled *,
.main-page.disabled #random-avatar {
  pointer-events: none;
  transform: scale(0%);
}

@media only screen and (max-height: 600px) {
  .page-wrapper {
    transform: scale(0.65);
  }
}

@media (max-width: 750px) {
  .page-wrapper {
    transform: scale(0.65);
  }
}

/* ==============================
   BACKGROUND
============================== */
#animated-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -100;
  background: url("/static/Images/Grid_Pattern.jpg") repeat 0 0 / auto 100%;
  animation: inf-bg 500s linear infinite;
}

/* ==============================
   LOADER
============================== */
.loader {
  position: absolute;
  width: 0px;
  height: 0px;
  transition: all 0.2s;
}
.loader .icon {
  width: 0px;
  height: 0px;
  animation: inf-spin 4s linear infinite;
}

.loader.active {
  width: 70px;
  height: 70px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid rgb(0, 0, 0);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
  background: white;
}
.loader.active .icon {
  display: block;
  width: 80%;
  height: 80%;
}

/* ==============================
   MAIN MENU
============================== */

/* Avatar Randomizer */
.pydraw-icon {
  position: absolute;
  width: 450px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
  transform: translateY(-10rem);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 100;
}

.avatar-container {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 1rem;
  border: 5px solid black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: end;
  background: #ebebeb;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.avatar-container .player {
  height: 90%;
}
.face {
  position: absolute;
  width: 45%;
  transform: translateY(-85%);
  transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 75%;
}
.shirt {
  position: absolute;
  width: 90%;
  transform: translateY(57.5%);
  transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Accessories */
.accessory {
  position: absolute;
  transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}
.accessory[src="/static/Images/Avatar/Accessories/1.svg"] {
  display: none;
}
.accessory[src="/static/Images/Avatar/Accessories/2.svg"] {
  width: 35%;
  transform: translate(25%, -180%);
}
.accessory[src="/static/Images/Avatar/Accessories/3.svg"] {
  width: 45%;
  transform: translate(20%, -170%);
}
.accessory[src="/static/Images/Avatar/Accessories/4.svg"] {
  width: 35%;
  transform: translate(0%, -195%);
}
.accessory[src="/static/Images/Avatar/Accessories/5.svg"] {
  width: 30%;
  transform: translate(15%, -270%);
}
.accessory[src="/static/Images/Avatar/Accessories/6.svg"] {
  width: 50%;
  transform: translate(0%, -200%);
}
.accessory[src="/static/Images/Avatar/Accessories/7.svg"] {
  width: 50%;
  transform: translate(0%, -255%);
}
.accessory[src="/static/Images/Avatar/Accessories/8.svg"] {
  width: 40%;
  transform: translate(0%, -350%);
}

/* Hairs */
.hair {
  position: absolute;
  transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}
.hair[src="/static/Images/Avatar/Hairs/1.svg"] {
  width: 75%;
  transform: translate(0%, -30%);
}
.hair[src="/static/Images/Avatar/Hairs/2.svg"] {
  width: 70%;
  transform: translate(0%, -70%);
}
.hair[src="/static/Images/Avatar/Hairs/3.svg"] {
  width: 55%;
  transform: translate(0%, -5%);
}
.hair[src="/static/Images/Avatar/Hairs/4.svg"] {
  width: 55%;
  transform: translate(0%, -70%);
}
.hair[src="/static/Images/Avatar/Hairs/5.svg"] {
  width: 85%;
  transform: translate(0%, 1%);
}
.hair[src="/static/Images/Avatar/Hairs/6.svg"] {
  width: 60%;
  transform: translate(0%, -125%);
}
.hair[src="/static/Images/Avatar/Hairs/7.svg"] {
  width: 60%;
  transform: translate(0%, -110%);
}
.hair[src="/static/Images/Avatar/Hairs/8.svg"] {
  width: 60%;
  transform: translate(0%, -45%);
}
.hair[src="/static/Images/Avatar/Hairs/9.svg"] {
  width: 57.5%;
  transform: translate(0%, -120%);
}
.hair[src="/static/Images/Avatar/Hairs/10.svg"] {
  width: 55%;
  transform: translate(0%, -145%);
}
.hair[src="/static/Images/Avatar/Hairs/11.svg"] {
  width: 70%;
  transform: translate(0%, -10%);
}

#random-avatar {
  position: absolute;
  width: 35px;
  height: 35px;
  transform: translate(3rem, 3rem);
  border-radius: 50%;
  border: 3.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 100;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
#random-avatar .icon {
  width: 50%;
  height: 50%;
  opacity: 75%;
}
#random-avatar:hover {
  background: #a4a4a4;
}
#random-avatar:active {
  transform: translate(3rem, 3rem) scale(0.9) rotate(360deg);
  transition: none;
}
#random-avatar:active ~ .avatar-container {
  transform: scale(85%);
}

/* Inputs & Buttons */
.input-container {
  position: absolute;
  width: 250px;
  transform: translateY(9.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-container input[type="text"] {
  width: 200px;
  padding: 0.25rem 0.5rem;
  font-size: 1.15rem;
  text-align: center;
  border: 3px solid #b1b1b1;
  border-radius: 15px;
  box-sizing: border-box;
  margin-bottom: 1.2rem;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.input-container .button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;
  border-radius: 6px;
  border: 3px solid black;
  background: #3c3e5e;
  color: white;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.input-container .button:hover {
  background: #1d1844;
}
.input-container .button:active {
  transform: scale(0.925);
  transition: none;
}

.join-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.25rem;
}
#inviteCode {
  width: 58.5%;
  margin-bottom: 0;
  border-radius: 6px;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.join-container .button {
  width: 40%;
}

/* ==============================
   PARTY MENU
============================== */

.party-page:not(.disabled) ~ .pydraw-icon {
  transform: translate(-15rem, -14.75rem) scale(0.45);
}

.party-header {
  position: absolute;
  width: 460px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  z-index: 5;
  transform: translate(6rem, -14rem);
}

.code-copied {
  all: unset;
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0.1rem 0.75rem;
  border-radius: 10px;
  background: #3e692c;
  font-size: 0.8rem;
  text-align: center;
  white-space: nowrap;
  color: #ffffff;
  transition: all 0.15s cubic-bezier(0.47,1.64,0.41,0.8);
  z-index: -1;
  transform: translate(2.25rem, 0rem);
}
.code-copied.show {
  transform: translate(2.25rem, -2rem);
}

#party-code {
  all: unset;
  width: 170px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0.15rem 0.75rem;
  border: 3px solid #000000;
  border-radius: 6px;
  background: #ffffff;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  color: #3c3c3c;
  transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}
#party-code:hover {
  background: #d6d6d6;
  transform: scale(0.95);
}
#party-code:active {
  background: #b6b6b6;
  transform: scale(1);
  transition: none;
}

.party-buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: 3px;
}
.party-buttons .icon {
  width: 20px;
}

#leave-button {
  all: unset;
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
  height: 30px;
  padding: 0.1rem 0.75rem 0.1rem 0.5rem;
  gap: 3px;
  border: 3px solid #000000;
  border-radius: 6px;
  background: #87463d;
  font-size: 0.9rem;
  text-align: center;
  white-space: nowrap;
  color: #ffffff;
  transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}
#leave-button:hover {
  background: #9a5046;
  transform: scale(0.95);
}
#leave-button:active {
  background: #9a5046;
  transform: scale(1.05);
  transition: none;
}

#start-button {
  all: unset;
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
  height: 30px;
  padding: 0.1rem 0.75rem 0.1rem 0.5rem;
  gap: 3px;
  border: 3px solid #000000;
  border-radius: 6px;
  background: #313253;
  font-size: 0.9rem;
  text-align: center;
  white-space: nowrap;
  color: #ffffff;
  transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}
#start-button:hover {
  background: #3b3c64;
  transform: scale(0.95);
}
#start-button:active {
  background: #3b3c64;
  transform: scale(1.05);
  transition: none;
}

#settings-button {
  all: unset;
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
  height: 30px;
  padding: 0.1rem 0.75rem 0.1rem 0.5rem;
  gap: 3px;
  border: 3px solid #000000;
  border-radius: 6px;
  background: #474747;
  font-size: 0.9rem;
  text-align: center;
  white-space: nowrap;
  color: #ffffff;
  transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}
#settings-button:hover {
  background: #555555;
  transform: scale(0.95);
}
#settings-button:active {
  background: #555555;
  transform: scale(1.05);
  transition: none;
}

.party-container {
  position: absolute;
  width: 675px;
  height: 425px;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: 3.5px solid rgb(0, 0, 0);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
  background: white;
  transition: all 0.2s;
}

/* Players List */
.players-container {
  position: absolute;
  width: 360px;
  height: 385px;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-sizing: border-box;
  border: 2.5px solid #5e5e5e;
  transform: translate(-9rem,0.4rem);
}
.players-container .box {
  width: 100%;
  height: 100%;
  padding: 0.1rem;
  padding-right: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 5px;
  border-radius: 0.5rem;
  scrollbar-width: thin;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.plr-box {
  width: 100%;
  height: fit-content;
  padding: 0.35rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid #d5d5d5;
  background-color: #eeeeee;
}
.plr-box .avatar-container {
  all: unset;
  position: relative;
  width: 45px;
  height: 45px;
  min-width: 45px;
  min-width: 45px;
  border-radius: 0.25rem;
  border: 2px solid black;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: end;
  background: #ebebeb;
}
.plr-info .username {
  font-size: 1.15rem;
  opacity: 75%;
}
.plr-info .uuid {
  font-size: 0.75rem;
  opacity: 35%;
}

/* Chatbox */
.chat-container {
  position: absolute;
  width: 280px;
  height: 400px;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(11.75rem);
}
.chat-display {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  border-radius: 0.5rem;
  box-sizing: border-box;
  border: 2.5px solid rgb(131, 131, 131);
  overflow: hidden;
}
.chat-display .box {
  width: 98%;
  height: 98%;
  padding: 0.75rem;
  padding-block: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  border-radius: 0.5rem;
  scrollbar-width: thin;
  scrollbar-color: grey #ebebeb;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}
.chat-container input[type="text"] {
  width: 100%;
  padding-block: 2.5px;
  padding-inline: 3%;
  font-size: 0.85rem;
  text-align: left;
  border: 2.5px solid #b1b1b1;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 0.25rem;
}

/* Messages Holder */
.msg-box {
  width: 200%;
  height: fit-content;
  padding: 0.35rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  border-radius: 5px;
  background-color: #d5d5d5;
  transform-origin: center center;
  transition: all 0.15s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.msg-box.show {
  width: 100%;
}
.msg-box .avatar-container {
  all: unset;
  position: relative;
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  border-radius: 0.25rem;
  border: 2px solid black;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: end;
  background: #ebebeb;
}

.msg-box.system {
  padding: 0.25rem;
  justify-content: center;
  align-items: center;
  color: white;
}
.msg-box.system .text-container {
  font-size: 0.75rem;
  margin-top: 0.1rem;
}
.msg-box.system .avatar-container,
.msg-box.system .sender-name {
  display: none;
}
.msg-box.create {
  background: #000435;
}
.msg-box.join {
  background: #0e3500;
}
.msg-box.left {
  background: #350000;
}

.sender-name {
  margin-top: -1.5px;
  font-size: 0.8rem;
  opacity: 65%;
}
.text-container {
  width: 100%;
  height: fit-content;
  margin-top: -3px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 0.85rem;
  letter-spacing: 0.025rem;
  word-break: break-word;
  overflow-wrap: anywhere; 
}

/* ==============================
   ANIMATIONS
============================== */
@keyframes inf-bg {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@keyframes inf-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
