/* ==============================
   GAME HEADER
============================== */
#game-page header {
  position: absolute;
  width: 345px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  gap: 8px;
  z-index: 10;
  transform: translate(14.75rem, -15rem) translateZ(0);
  -webkit-transform: translate(14.75rem, -15rem) translateZ(0);
}

#hint {
  all: unset;
  width: 75%;
  height: 35px;
  display: flex;
  box-sizing: border-box;
  padding: 0.1rem 0.75rem;
  border: 3px solid #000000;
  border-radius: 6px;
  background: #ffffff;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 500;
  color: #4b4b4b;
  transition: transform 0.1s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

#hint.update {
  animation: label-update 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#timer {
  all: unset;
  width: 90px;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.1rem 0.75rem;
  border: 3px solid #000000;
  border-radius: 6px;
  background: #313253;
  text-align: center;
  white-space: nowrap;
  color: white;
  transition: transform 0.1s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

#timer.update {
  animation: timer-update 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* ==============================
   ANIMATIONS
============================== */

@keyframes label-update {
  from {
    transform: scale(0.25) translateZ(0);
    -webkit-transform: scale(0.25) translateZ(0);
  }

  to {
    transform: scale(1) translateZ(0);
    -webkit-transform: scale(1) translateZ(0);
  }
}

@keyframes timer-update {
  from {
    transform: scale(0.9) translateZ(0);
    -webkit-transform: scale(0.9) translateZ(0);
  }

  to {
    transform: scale(1) translateZ(0);
    -webkit-transform: scale(1) translateZ(0);
  }
}