{% extends "base.html" %} {% block content %}
<!-- Background -->
<div id="animated-bg"></div>

<div class="page-wrapper mitr-font">
  <!-- Game Icon -->
  <img class="pydraw-icon" src="/static/Images/PyDraw.svg" />

  <!-- Containers -->
  <button id="random-avatar">
    <img class="icon" src="/static/Images/Icons/Random.svg" />
  </button>
  <div class="avatar-container">
    <img class="player" src="/static/Images/Avatar/Player.svg" />
    <img class="shirt" id="player-shirt" src="/static/Images/Avatar/Shirt.svg" />
    <img class="face" id="player-face" src="" />
    <img class="hair" id="player-hair" src="" />
    <img class="accessory" id="player-accessory" src="" />
  </div>
  <div class="input-container">
    <input type="text" id="userName" maxlength="15" placeholder="ชื่อผู้เล่น" />
    <button class="button" id="create-party">สร้างห้อง</button>
    <div class="join-container">
      <input type="text" id="inviteCode" maxlength="5" placeholder="รหัสเชิญ" />
      <button class="button" id="create-party">เข้าร่วม</button>
    </div>
  </div>
</div>
{% endblock %}