{% extends "base.html" %} {% block content %}
<!-- Background -->
<div id="animated-bg"></div>

<div class="page-wrapper mitr-font">
  <!-- Loading Circle -->
  <div class="loader">
    <img class="icon" src="/static/Images/Icons/Loading.svg" />
  </div>

  <!-- Main Page -->
  <div class="page main-page">
    <button id="random-avatar">
      <img class="icon" src="/static/Images/Icons/Random.svg" />
    </button>
    <div class="avatar-container">
      <img class="player" id="player-color" src="" />
      <img class="shirt" id="player-shirt" src="/static/Images/Avatar/Shirt.svg" />
      <img class="face" id="player-face" src="" />
      <img class="hair" id="player-hair" src="" />
      <img class="accessory" id="player-accessory" src="" />
    </div>
    <div class="input-container">
      <input type="text" id="userName" maxlength="20" placeholder="ชื่อผู้เล่น" />
      <button class="button" id="create-button">สร้างห้อง</button>
      <div class="join-container">
        <input type="text" id="inviteCode" maxlength="5" placeholder="รหัสเชิญ" />
        <button class="button" id="join-button">เข้าร่วม</button>
      </div>
    </div>
  </div>

  <!-- Party Page -->
  <div class="page party-page disabled">
    <div class="party-header">
      <button class="code-copied">คัดลอกแล้ว!</button>
      <button id="party-code">รหัสเชิญ : -----</button>
      <div class="party-buttons">
        <button id="leave-button">
          <img class="icon" src="/static/Images/Icons/Leave.svg" />
          <span>ออก</span>
        </button>
        <button id="start-button">
          <img class="icon" src="/static/Images/Icons/Start.svg" />
          <span>เริ่ม</span>
        </button>
        <button id="settings-button">
          <img class="icon" src="/static/Images/Icons/Settings.svg" />
          <span>ตั้งค่า</span>
        </button>
      </div>
    </div>
    <div class="party-container">
      <div class="players-container">
        <div class="box">
          <div class="plr-box">
            <div class="avatar-container">
              <img class="player" src="/static/Images/Avatar/Colors/1.svg" />
              <img class="shirt" src="/static/Images/Avatar/Shirt.svg" />
              <img class="face" src="/static/Images/Avatar/Faces/1.svg" />
              <img class="hair" src="/static/Images/Avatar/Hairs/1.svg" />
              <img class="accessory" id="player-accessory" src="/static/Images/Avatar/Accessories/1.svg" />
            </div>
            <div class="plr-info">
              <p class="username">กะเพราไข่ดาว</p>
              <p class="uuid">UUID : 956faecab2654246930a</p>
            </div>
          </div>
          <div class="plr-box">
            <div class="avatar-container">
              <img class="player" src="/static/Images/Avatar/Colors/3.svg" />
              <img class="shirt" src="/static/Images/Avatar/Shirt.svg" />
              <img class="face" src="/static/Images/Avatar/Faces/5.svg" />
              <img class="hair" src="/static/Images/Avatar/Hairs/6.svg" />
              <img class="accessory" id="player-accessory" src="/static/Images/Avatar/Accessories/2.svg" />
            </div>
            <div class="plr-info">
              <p class="username">CoolGuy007</p>
              <p class="uuid">UUID : 956faecab2654246930a</p>
            </div>
          </div>
        </div>
      </div>
      <div class="chat-container">
        <div class="chat-display">
          <div class="box"></div>
        </div>
        <input type="text" id="chatMsg" placeholder="ข้อความ.." />
      </div>
    </div>
  </div>

  <!-- Game Icon -->
  <img class="pydraw-icon" src="/static/Images/PyDraw.svg" />
</div>
{% endblock %}